* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
}

.body {
  background-color: #000958;
  text-align: center;
  padding: 20px 30px;


}

.container {
  position: relative; 
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 500px;
  width: 500px;
  border-radius: 10px;
  margin: 0 auto;
  padding: 50px;
}

.container__title {
  color: white;
}

.container__button {
  margin-bottom: 20px;
  border-radius: 10px;
  border-color: transparent;
  padding: 10px;
  background-color: blueviolet;
  cursor: pointer;
}

.container__box {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}


.check {
  height: 40%;
  width: 40%;
  
  /* margin-right: 10px; */

}

.avatar {
  width: 300px;
  height: 282px;
  z-index: 0;
  cursor: pointer;
}